@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    list-style: none;
    font-family: Open Sans Condensed;
}
body{
    width: 100%;
    height: 100%;
    background: #299af7;
}
i {
    margin: 0 5px;
}
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    border-radius: 5px;
    box-shadow: inset 0 0 10px rgba(126, 16, 230, 0.342);
}

::-webkit-scrollbar-thumb {
    height: 10px;
    border-radius: 5px;
    background-color: rgba(236, 177, 13, 0.863);
}
.container{  
    display: grid;
    grid-template-columns: 2fr 12fr 2fr;
    grid-template-rows: 70px auto auto;
    grid-template-areas:"sidnav cabe cabe" "sidnav principal principal";
    overflow-x: hidden;
    width: 100%;
}
.cabecalho{
    grid-area: cabe;
    padding: 10px;
    display: flex;
    align-items: center;
    background-size: auto;
    justify-content: space-between;
    height: 100%;
    border-bottom: black 2px solid;
    margin: 2px 13px;
    z-index: 1;
}
.cabecalho div{
    display: flex;
    align-items: center;
    height: 100%;
}
.cabecalho  div img{
    height: 100%;
}
.cabecalho h1{
    border-bottom: transparent 1px solid;
    cursor: context-menu;
}
.cabecalho h1 a {
    color: black;
    text-decoration: none;
}
.cabecalho h1 a:hover{
    border-bottom: #fcf5ff 1px solid;
    color: #fcf5ff;
}
.principal{
    grid-area: principal;
    padding: 10px;
    background: #1f88e7;
    width: 100%;
    min-height: 100vh;
    max-height: auto;
    animation: Caio .5s forwards;
    animation-delay: .66s;
    transform:translateX(1400px);
    word-wrap: break-word;
}
.principal h1{
    font-size: 1.9rem;
}
.principal h2{
    text-align: center;
    font-size: 2rem;
}
.principal h3{
    text-align: right;
    font-size: 1.5rem;
}
.principal h4{
    text-align: left;
    font-size: 1.5rem;
} 
.principal .text{
    font-size: 1.7rem;
    padding: 5px 15px;
    margin: 8px 0;
    font-weight: 300;
}
.principal .caixa{
    width: 30%;
    position: relative;
    margin: 10px;
}
.principal .caixa img{
    width: 100%;
    height: 100%;
    display: block;
}
.principal .caixa .overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #0000008a;
}
.principal .caixa .overlay:hover{
    opacity: 1;
}
.principal .caixa .overlay .nomeImg{
    color: white;
    font-size: 2.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.principal .separados{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    padding: 0 15px;
}
.principal .separados img{
    border-radius: 20px;
    width: 20%;
}
.principal .esquerdo {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}
.principal .esquerdo img{
    border-radius: 20px;
    width: 20%;
}
.principal .esquerdo .paisagens{
    width: 50%;
}
.principal .direita{
    display: flex;
    width: 100%;
    justify-content: flex-start;
}
.principal .direita img{
    border-radius: 20px;
    width: 19%;
}
.principal .direita .paisagens{
    width: 50%;
}
.barra{
    position: relative;
    grid-area: sidnav;
}
#check{
    display: none;
}
#checki{
    display: none;
}
label #menu-h{
    z-index: 0;
    left: 0px;
    position: absolute;
    top: 17px;
    font-size: 30px;
    color: #000000;
    opacity: 0;
}
#check:checked ~ .sidnav {
    left: 0;    
}
#checki:checked ~ .sidnav {
    right: 0;    
}
.sidnav{
    background: url(../imagens/plano2.jpg);
    background-size: cover;
    width: 12.5%;
    position: fixed;
    height: 100%;
    transform:translateX(1400px);
    animation: slid .65s forwards;
    z-index: 1;
}
.sidnav div{
    width: 100%;
    justify-content: flex-end;
    display: flex;
}
.sidnav div a{
    display: flex;
    justify-content: flex-end;
    cursor: context-menu;
    border-radius: 100px 0 0;
}
.sidnav div .logo{
    width: 80px;
    margin-top: 15px;
}
.sidnav ul{
    width: 100%;
    margin-top: 30px;
}
.sidnav ul li{
    margin-bottom: 35px;
    width: 100%;
    height: 2rem;
}
.sidnav ul li .btn{
    background-color: transparent;
    border: 2px solid #e74c3c;
    cursor: pointer;
    font-size: 100%;
    font-weight: 500;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    align-items: center;
    padding: 2px 5px;
    line-height: 2rem;
}
.first{
    border-color: #89141a;
    color: #eb0808;
    background-image: linear-gradient(45deg, #ca1b1571 50%, transparent 50%);
    background-position: 100%;
    background-size: 400%;
    transition: background 300ms ease-in-out;
}
.first:hover{
    background-position: 0;
    color: #ffffff;
}
.second{
    color: #eb0808;
    border-color: #89141a;
    border-radius: 0;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: color 150ms ease-in-out;
}
.second:after {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 0;
    height: 100%;
    background: #ca1b1571;
    z-index: -1;
    -webkit-transition: width 150ms ease-in-out;
    transition: width 150ms ease-in-out;
}
.second:hover {
    color: #ffffff;
}
  .second:hover:after {
    width: 110%;
}
.trird{
    border-color: #89141a;
    color: #eb0808;
    background-image: linear-gradient(90deg, #ca1b1571 50%, transparent 50%);
    background-position: 100%;
    background-size: 400%;
    transition: background 150ms ease-in-out;
}
.trird:hover {
    background-position: 0;
    color: #ffffff;
}
.fourth {
    border-color: #893e6b ;
    color: #fb87fb;
    background-image: linear-gradient(45deg, #02348175 50%, transparent 50%);
    background-position: 100%;
    background-size: 400%;
    transition: background 300ms ease-in-out;
}
.fourth:hover {
    background-position: 0;
    color: #fff;
}
.fifth {
    color: #fb87fb;
    border-color: #893e6b;
    border-radius: 0;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: color 150ms ease-in-out;
}
.fifth:after {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 0;
    height: 100%;
    background: #0234817d;
    z-index: -1;
    -webkit-transition: width 150ms ease-in-out;
    transition: width 150ms ease-in-out;
}
.fifth:hover {
    color: #fff;
}
  .fifth:hover:after {
    width: 110%;
}
.sixth {
    border-color: #893e6b;
    color: #fb87fb;
    background-image: linear-gradient(90deg, #0234817d 50%, transparent 50%);
    background-position: 100%;
    background-size: 400%;
    transition: background 300ms ease-in-out;
}
.sixth:hover {
    background-position: 0;
    color: #fff;
}
.Red{
    text-align: right;
    background: #89141a;
}
.Red .container{
    grid-template-areas:"cabe cabe sidnav" "principal principal sidnav";
} 
.Red .cabecalho{
    flex-direction: row-reverse;
    text-align-last: right;
    background-image: url(../imagens/baleia.jpg);
}
.Red .principal{
    background: #89141a;
    animation: Caio .5s forwards;
    animation-delay: .66s;
    transform:translateX(-1400px);
}
.Red label #menu-hi{
    color: white;
    right: 0;
    z-index: 0;
    position: absolute;
    top: 17px;
    font-size: 30px;
    padding: 7px 9px;
    opacity: 0;
}
.Red .sidnav{
    right: 0;
    background: url(../imagens/montanha.jpg);
    background-size: cover;
    transform:translateX(-1400px);
    animation: slid .65s forwards;
    z-index: 1;
}
.Red .sidnav div{
    display: flex;
    justify-content: flex-start;
}
.Red .sidnav .btn{
    display: flex;
    justify-content: flex-end;
}

#fotos .sidnav, #fotos .principal,
#profissional .sidnav, #profissional .principal,
#musica .sidnav, #musica .principal,
#Rmusica .sidnav, #Rmusica .principal,
#amigos .sidnav, #amigos .principal,
#viagens .sidnav, #amigos .principal{
    transform: none;
    animation: none;
}
#fotos h2{
    text-align: center;
    font-size: 2rem;
}
#fotos h3{
    text-align: center;
}
#profissional p{
    font-size: 1.5rem;
    padding: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-bottom: #000000 2px solid;
}
@keyframes slid {
    to{
        transform: translateX(0);
    }
}

@keyframes Caio {
    to{
        transform: translateX(0);
    }
}

@media screen and (max-width: 768px){
    .container{
        grid-template-columns: 0fr 12fr 0fr;
    }
    .grid{
        grid-template-columns: auto auto;
    }
    label #menu-h{
        z-index: 2;
        opacity: 1;
    }
    .sidnav{
        width: 16.5%;
        left: -320px;
        animation: none ;
        transform:translateX(0px);
    }
    .Red .sidnav{
        width: 15.5%;
        right: 520px;
        animation: none ;
        transform:translateX(0px);
    }
    #checki:checked ~ .sidnav {
        left: 649px;
    }
    .Red label #menu-hi{
        z-index: 2;
        opacity: 1;
    }
    .cabecalho  div img{
        height: 100%;
        margin-left: 20px;
    }
    .Red .cabecalho  div img{
        margin-left: 0;
        margin-right: 30px;
    }
    .principal .text{
        font-size: 100%;
        padding: 0px;
    }
    .principal h4 {
        font-size: 120%;
    }
    .principal h3{
        font-size: 120%;
    }
    .principal .caixa .overlay .nomeImg{
        font-size: 120%;
    }
}
@media screen and (max-width: 426px){
    .sidnav{
        width: 28.5%;
    }
    .Red .sidnav{
        width: 28.5%;
        left: 604px;
    }
    #checki:checked ~ .sidnav {
        left: 304px;
    }
    .Red label #menu-hi{
        z-index: 2;
        opacity: 1;
    }
    .principal .esquerdo img{
        width: 40%;
    }
    .principal .direita img{
        width: 40%;
    }
    .principal .separados img{
        width: 40%;
    }
}
@media screen and (max-width: 379px){
    .sidnav{
        width: 33.5%;
    }
    .Red .sidnav{
        width: 33.5%;
        left: 500px;
    }
    #checki:checked ~ .sidnav {
        left: 250px;
    }
    .Red label #menu-hi{
        z-index: 2;
        opacity: 1;
    }
}
@media screen and (max-width: 320px){
    .cabecalho h1 a{
        font-size: 1rem;
    }
    .sidnav{
        width: 40.5%;
    }
    .Red .sidnav{
    width: 40.5%;
    left: 690px;
    }
    #checki:checked ~ .sidnav {
        left: 190px;
    }
    .Red label #menu-hi{
        z-index: 2;
        opacity: 1;
    }
}